.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 25px;
}

.footer__price {
  font-weight: 600;
  font-size: 19px;
  color: #0084f5;
  letter-spacing: 1.23px;
  padding-top: 5px;
}
