
.container {
    background-color: #ffffff;
    max-width: 390px;
    max-height: 390px;
    padding: 10px;
    margin: 0;
}

.container-data {
    max-width: 390px;
    max-height: 390px;
    border-style: solid;
    border-width: 2px;
    border-color: #E8E8E8;
    border-radius: 5px;
    box-shadow: -6px 2px 25px -18px rgba(0, 0, 0, 0.75);
}

.img {
    width: 82px;
    height: 82px;
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #F7FBFC;
    max-height: 60px;
    border: solid 1px;
    border-bottom-color: #dcdddd;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.header p {
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #E8E8E8;
    text-decoration: none;
    border-radius: 10px;
    max-height: 19px;
    font-size: 15px;
    color: rgb(184, 182, 182);
    margin-right: 25px;
    margin-top: 10;
    width: 100px;
    text-align: center;
}

.body {
    margin-top: 50px;
    margin-left: 10px;
    margin: 0;
    background-color: #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-left: 6%;
    margin-top: 55px;
}

.description {
    font-size: 15px;
    color: rgb(138, 135, 135);
    margin-left: 6%;
}

.price {
    font-weight: 600;
    color: #0084f5;
    letter-spacing: 1.23px;
    margin-left: 5%;
}
.stars{
    color: orange;
    font-size: 25px;
}