
.container-data {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 27%;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: -6px 2px 25px -18px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
  margin-right: 25px;
  transition: transform 0.25s;
}

.body {
  flex-grow: 1;
  margin-left: 10px;
  margin: 0;
  background-color: #ffffff;
}

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-left: 6%;
  margin-top: 55px;
}

.description {
  font-size: 15px;
  color: rgb(138, 135, 135);
  margin-left: 6%;
}

.price {
  font-weight: 600;
  color: #0084f5;
  letter-spacing: 1.23px;
}
.stars {
  color: orange;
  font-size: 25px;
}
.divClase{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}
.texto{
    border: 0;
    margin: 3% 0 3% 7% ;
    font-size: 20px;
    color: rgb(216, 214, 214);
    border-bottom: 1px solid #e8e8e8;
    width: 40%;
}
.contenedorTextClase{
    max-width: 1280px;
    margin: auto;
}

.container-data:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.curso__footer {
  width: 100%;
}