.curso {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 27%;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: -6px 2px 25px -18px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
  margin-right: 25px;
  transition: transform 0.25s;
}

.curso:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.curso__footer {
  width: 100%;
}

